.question-container {
  width: 300px;
  height: 212px;
  padding: 40px;
  border-radius: 8px;
  border: solid 9px #f9f9f9;
  background-color: white;
  /* display: flex; */
  align-items: center;
  justify-content: left;
  text-align: left;
}

.question-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 0px;
  flex-wrap: wrap;
}

.question-type {
  margin: 0 2px 19px 0;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #00d385;
}

.question {
  margin: 19px 0 37px 2px;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #04004d;
}

.btn-answer {
  width: auto;
  height: 30px;
  margin: 37px 2px 0;
  padding: 23px 20px 23px 22px;
  border-radius: 3px;
  background-color: #04004d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  transition: 0.50s;
}

.btn-answer-txt {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.btn-answer:hover{
  box-shadow: 0 0.8em 0.8em -0.2em #04000087;
  transform: translateY(-0.25em);
  transition: 0.50s;
}


  


